#
# Cookbook Name:: jenkins_slave
# Recipe:: default
#

jenkins_slave({
  :master => {
    :host => <%= host.inspect %>,
    :port => <%= port %>,
    :public_key => <%= public_key.inspect %>,
    :master_key_location => "/home/deploy/.ssh/id_rsa"
  },
  :gem => {
    :install => "jenkins",
    :version => "jenkins-0.6.4"
  }
})